body {
    font-size: smaller;
    font-family: monospace;
}

* {
    margin: 0;
    padding: 0;
}

input {
    font-family: monospace;
}

pre {
    margin: 0;
}

.app-result {
    clear: both;
    margin-top: 12px;
    margin-bottom: 12px;
    overflow: hidden;
}

.app-match {
    float: left;
    color: #666;
}

.app-line {
}

#app_password_content {

}

#app_content, #app_intro {
    width: 100%;
    background-color: #EEE;
    padding: 8px;
}

#app_dynamic {
    padding: 8px;
}